# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: WebKit
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
IndentCaseBlocks: false
IndentCaseLabels: true
IndentWidth: 4
IndentWrappedFunctionNames: false
NamespaceIndentation: All
PenaltyReturnTypeOnItsOwnLine: 0

ColumnLimit: 128
ContinuationIndentWidth: 4
DerivePointerAlignment: true
SpaceInEmptyBlock: false

MacroBlockBegin: 'interface_def|interface_def_generic'
MacroBlockEnd: 'interface_end|interface_end_generic'
...
